<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>DELIVERY</ion-title>
  </ion-navbar>
</ion-header>
<!--
<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content> --> -->

<ion-content>
  <h3>Current Latitude: {{locationTracker.lat}}</h3>
  <h3>Current Longitude: {{locationTracker.lng}}</h3>

  <!-- <button ion-button full primary (click)="start()">Start Tracking</button>
  <button ion-button full primary (click)="stop()">Stop Tracking</button>

  <button ion-button full primary (click)="postLocation()">PostLocation</button> -->


  <button ion-button full primary (click)="changeStatus('delivered',1)">Entregue!!!</button>


</ion-content>
